
<h1 class="text-4xl font-bold text-gray-800 mb-4">Hello World World</h1>
<p class="text-lg text-gray-600 mb-6">Choose a test endpoint below:</p>
<div class="space-y-4">
  <a href="/test1" class="block text-blue-600 hover:underline text-xl">/test1</a>
  <a href="/test2" class="block text-blue-600 hover:underline text-xl">/test2</a>
  <a href="/test3" class="block text-blue-600 hover:underline text-xl">/test3</a>
</div>
